@font-face {
    font-family: BalsamiqSansRegular;
    src: url(Fonts/BalsamiqSansRegular.ttf);
}
@font-face {
    font-family: BalsamiqSansBold;
    src: url(Fonts/BalsamiqSansBold.ttf);
}
@font-face {
    font-family: BalsamiqSansItalic;
    src: url(Fonts/BalsamiqSansItalic.ttf);
}
@font-face {
    font-family: BalsamiqSansBoldItalic;
    src: url(Fonts/BalsamiqSansBoldItalic.ttf);
}
/*Header Containers*/
body, html {
  height: 100%;
}
.front-header-container {
  background-color: rgba(247, 225, 134, 0.7);
  height: 6em;
  padding-top: 1em;
  border: 3px solid black;
  border-radius: 3px;
}
.main-header-container {
  background-color: rgba(204, 204, 204, 1);
  height: 15%;
  padding-top: 1em;
  border: 3px solid black;
  border-radius: 3px;
  margin-left: 1px;
  margin-right: 1px;
}
.sub-header-container {
  background-color: rgba(247, 225, 134, 0.7);
  border: 1px solid black;
  border-radius: 3px;
}
.selectdish-box {
  height: 100%;
  padding: 10px 5px;
}
/*Boxes*/
.content-box {
  background-color: white;
  height: 85%;
  border: 2px solid black;
  border-radius: 3px;
  margin-right: 1px;
  margin-left: 1px;
}
.sub-content-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}
.top-box {
  height: 30%;
}
.bottom-box {
  height: 70%;
  overflow: scroll;
}
.info-box {
  background-color: white;
  opacity: 0.8;
  padding-bottom: 2em;
  margin-top: 6em;
}
.summary-box {
  background-color: white;
  padding-top: 1em;
}
.description-box {
  overflow: scroll;
  height: 100%;
}
.ingredient-box {
  background-color: rgba(247, 225, 134, 0.7);
  border: 2px solid black;
  border-radius: 3px;
}
.course-container {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2em;
}
.course-container img {
  width: 100%;
}
.course-box {
  border: 1px solid;
  padding: 0px;
}
.course-name {
  border-top: 1px solid;
  background-color: grey;
  text-align: center;
  font-size: 20px;
}
/*confirm dinner page*/
.vertical-line {
  border-left: 2px solid black;
  padding-left: 20px;
  padding-top: 200px;
  height: 260px;
}
.mydinner-header {
  display: inline-block;
}
.course-price {
  color: maroon;
  font-size: 18px;
}
.button-container {
  text-align: center;
}
/* Print page */
.print-container {
  overflow: scroll;
  padding-top: 30px;
}
.print-header {
  border: 2px solid;
}
/*Fonts*/
body{
  font-family: BalsamiqSansRegular;
}
.main-header {
  font-size: 3em;
  text-align: center;
  font-family: BalsamiqSansBold;
}
a {
  color: black;
}
.sub-header {
  font-size: 1.5em;
  padding-top: 1em;
  font-family: BalsamiqSansItalic;
}
/*Deviders*/
hr.divider {
  border: 0;
  height: 2px;
  background: black;
  background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
  background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
  background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
  background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
}
/*Buttons*/
.start-button {
  background-color: orange;
  border-radius: 0px;
  border: 3px solid black;
  font-family: BalsamiqSansBold;
  font-size: 1.5em;
  color: black;
  box-shadow: 3px 3px 0px black;
}
.confirm-button {
  background-color: orange;
  border-radius: 0px;
  border: 3px solid rgba(204, 204, 204, 1);
  font-family: BalsamiqSansBold;
  font-size: 1em;
  color: rgba(204, 204, 204, 1);
  box-shadow: 3px 3px 0px rgba(204, 204, 204, 1);
}
/*Pictures*/
.cats {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;
}