@font-face {
    font-family: BalsamiqSansRegular;
    src: url(Fonts/BalsamiqSansRegular.ttf);
}
@font-face {
    font-family: BalsamiqSansBold;
    src: url(Fonts/BalsamiqSansBold.ttf);
}
@font-face {
    font-family: BalsamiqSansItalic;
    src: url(Fonts/BalsamiqSansItalic.ttf);
}
@font-face {
    font-family: BalsamiqSansBoldItalic;
    src: url(Fonts/BalsamiqSansBoldItalic.ttf);
}

.info-box {
  background-color: white;
  opacity: 0.8;
  padding-left: 3em;
  padding-bottom: 2em;
  margin-top: 6em;
}
.header-container {
  background-color: rgba(247, 225, 134, 0.7);
  height: 6em;
  padding-top: 1em;
  border: 3px solid black;
  border-radius: 3px;
  margin-right: 1px;
  margin-left: 1px;
}
.main-header {
  font-size: 3em;
  text-align: center;
  font-family: BalsamiqSansBold;
}
.sub-header {
  font-size: 1.5em;
  padding-top: 1em;
  font-family: BalsamiqSansItalic;
}
hr.divider {
    border: 0;
    height: 2px;
    background: black;
    background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
    background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
}
#start-button {
  background-color: orange;
  border-radius: 0px;
  border: 3px solid black;
  font-family: BalsamiqSansBold;
  font-size: 1.5em;
  color: black;
  box-shadow: 3px 3px 0px black;
}
.cats {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: -1;
}
body{
  font-family: BalsamiqSansRegular;
}

#content {

}